@import "variables.scss";

.configurator {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 0.5fr;

  &__left {
    position: relative;
    // padding: 1rem;
    border-right: 1px solid $light-gray-clr;
  }

  &__right {
<<<<<<< HEAD
=======
    background-color: $white-clr;
>>>>>>> dev
    padding: 1rem;
  }
}