@import "variables.scss";

.configurator {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 0.75fr;

  &__left {
    background-color: $dark-gray-clr;
  }

  &__right {
    background-color: $white-clr;
    padding: 1rem;
  }
}