@import "variables.scss";

.statement {

  padding: 1rem 5rem;
  // .submit-buttons {
  //   margin-bottom: 1rem;
  // }


  .schedule {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    // gap: 0.25rem;

    // border-radius: 2.75rem;
    // font-size: clamp(0.85rem, 2vw, 1rem);
    // font-weight: 600;
    // padding: 1rem 1.25rem;
    // border: none;
    // transition: color, background 0.2s ease-in-out;
    // outline: 1px solid $black-clr;
    // color: $black-clr;
    // background-color: transparent;

    background-color: rgb($light-gray-clr, 0.35);
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    text-align: center;


    &>div {
      &>a {
        border-radius: 2.75rem;
        padding: 0.25rem;

        &:hover {
          background: rgb($black-clr, 0.125);
        }
      }
    }
  }

}

.statement-main {


  .divider {
    height: 1px;
    background-color: $light-gray-clr;
    margin: 1rem 0rem;
  }

  .grid-cont {
    width: 100%;
    display: flex;
    gap: 0.5rem;
  }

  .pill {
    background-color: rgb($light-gray-clr, 0.35);
    border-radius: 0.75rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    gap: 0.35rem;

    p:last-child {
      font-weight: 500;
    }
  }

  .table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    // padding: 1rem;
    overflow-x: auto;

    .head {
      font-weight: 600;
      color: $primary-clr-2;

      &-cell {
        &:is(:first-child) {
          text-align: start;
        }

        text-align: end;
      }
    }

    td,
    th {
      border: 1px solid $dark-gray-clr;
      padding: 0.75rem 1rem;
    }

    .body {
      color: $dark-gray-clr-2;

      td {
        text-align: center;

        &:first-child {
          text-align: start;
        }
      }

      .total-row {
        background-color: $primary-clr-2;
        color: $white-clr;
        font-weight: 600;

        td {
          &:first-child {
            border-right: none;
          }

          &:last-child {
            text-align: end;
            border-left: none;
          }
        }
      }

      .row {
        .cell {
          &:is(:first-child) {
            text-align: start;
          }

          text-align: end;
        }
      }
    }
  }

  .note {
    margin-top: 1rem;
    background-color: rgb($light-gray-clr, 0.35);
    border-radius: 0.75rem;
    padding: 1.25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &>p {
      color: $primary-clr;
      text-align: left;
    }

    &>p:nth-of-type(2) {
      color: $black-clr;
      line-height: 1.2;
      text-wrap: balance;
      font-size: clamp(1rem, 2vw, 1rem);
    }
  }


}

@media (max-width: 767px) {
  .statement-main {
    .grid-cont {
      flex-direction: column;
    }

    .table {
      display: block;
    }
  }


}

.pdf {
  &_viewer {
    height: 90vh;
    width: 100%;
  }

  &_download-button {
    margin: 0rem 0.25rem;

    color: $white-clr;
    border-radius: 2.75rem;
    font-size: clamp(0.85rem, 2vw, 1rem);
    font-weight: 600;
    padding: 1rem 1.25rem;
    border: none;
    cursor: pointer;
    transition: color, background 0.2s ease-in-out;
    background: $primary-clr-2;

    &:hover {
      background: rgb($primary-clr-2, 0.65);
    }

  }
}

@media(max-width:768px) {
  .statement {

    padding: 1rem;

    .schedule {
      flex-direction: column;
    }
  }
}