@import "variables.scss";

.submit-buttons {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.statement-main {
  padding: 1rem;

  .divider {
    height: 1px;
    background-color: $light-gray-clr;
    margin: 1rem 0rem;
  }

  .grid-cont {
    width: 100%;
    display: flex;
    gap: 0.5rem;
  }

  .pill {
    background-color: rgb($light-gray-clr, 0.35);
    border-radius: 0.75rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    gap: 0.35rem;

    p:last-child {
      font-weight: 500;
    }
  }

  .table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    // padding: 1rem;
    overflow-x: auto;

    .head {
      font-weight: 600;
      color: $primary-clr-2;

      &-cell {
        &:is(:first-child) {
          text-align: start;
        }
        text-align: end;
      }
    }

    td,
    th {
      border: 1px solid $dark-gray-clr;
      padding: 0.75rem 1rem;
    }

    .body {
      color: $dark-gray-clr-2;

      td {
        text-align: center;

        &:first-child {
          text-align: start;
        }
      }

      .total-row {
        background-color: $primary-clr-2;
        color: $white-clr;
        font-weight: 600;

        td {
          &:first-child {
            border-right: none;
          }

          &:last-child {
            text-align: end;
            border-left: none;
          }
        }
      }

      .row {
        .cell {
          &:is(:first-child) {
            text-align: start;
          }
          text-align: end;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .statement-main {
    .grid-cont {
      flex-direction: column;
    }

    .table {
      display: block;
    }
  }
}
